[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic-settings = "*"
openai = "*"
sqlmodel = "*"
supabase = "*"
pip = "*"
pymupdf = "*"
python-dotenv = "*"
psycopg2 = "*"
python-multipart = "*"

[dev-packages]
black = "*"
pytest = "*"

[requires]
python_version = "3.12"
